@model TicketDetailDTO

<h3>Ticket Detay Sayfası</h3>



<form asp-controller="Technician" asp-action="TicketDetail" method="post">
    <input asp-for="TicketId" type="hidden" />
    <label asp-for="Name">@Model.Name</label>
    <label asp-for="Surname">Kullanıcı Soyadı :@Model.Surname</label>

    <label asp-for="Description">Açıklama : @Model.Description</label>
    <label asp-for="TechnicianDate">Atanma Tarihi : @Model.TechnicianDate</label>

    <label asp-for="TicketOverDate">Bitirme Tarihi : @Model.TicketOverDate</label>
    @*<label asp-for="Longitude">Adres Bilgisi : @Model.Longitude @Model.Latitude @Model.AddressDescription</label>*@
    <label asp-for="CategoryName">Kategori : @Model.CategoryName</label>

    @foreach (ProductSelectDTO item in Model.SelectedProducts)
    {
<div>
    <input type="hidden" asp-for="@item.Id" />
    <input asp-for="@item.IsChecked" readonly />
    <input asp-for="@item.Name" readonly/>
    <input asp-for="@item.Price" readonly/>
</div>
        
    }
    <input type="submit" value="İşlemi Bitir" class="btn btn-sm btn-danger" />
</form>

